.main-header {
  /* background: linear-gradient(135deg, #fbb72c, #ff9a00); */
  background: linear-gradient(135deg, #d0b06e, #c47908);
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  transition: background 0.3s ease-in-out;
  position: sticky;
  width: 100%;
  top: -2px;
  z-index: 100;
  margin-bottom: 150px;
  padding: 25px 0px;
}

h1 {
  margin: 0;
}
.logo {
  width: 171px;
  height: 52px;
  position: relative;
  top: 13px;
  cursor: pointer;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

.menu a,
.toggle_menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  /* background: #fff; */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}
.mat-badge-content {
  background: #000000 !important;
  color: #fff !important;
}

.menu a:hover,
.toggle_menu a:hover {
  color: #805300;
}
.toggle_menu a {
  margin: 0;
}
.menu a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.search {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

input[type="search"] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out;
}

input[type="search"]:focus {
  outline: none;
  border-color: #e1a24e;
}

ion-icon,
mat-icon {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

ion-icon:hover,
mat-icon:hover {
  color: #2c2c2d;
}
mat-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}
.toggleIcon,
.toggleDiv {
  display: none;
}
.toggle_menu {
  font-size: 20px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin-bottom: 10px;
}
.toggle_menu a {
  cursor: pointer;
}
.toggleIcon ion-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.scale {
  scale: 0;
}
@media screen and (max-width: 850px) {
  .toggleIcon {
    display: inline;
  }
  .toggleDiv {
    display: block;
    position: absolute;
    background: red;
    padding: 30px;
    top: 102px;
    /* background: linear-gradient(135deg, #fbb72c, #ff9a00); */
    background: linear-gradient(135deg, #d0b06e, #c47908);
    scale: 1;
    border-top: 1px solid black;
  }
  .menu,
  .search,
  .cart {
    display: none;
    cursor: pointer;
  }
  .header-content {
    justify-content: space-between;
    padding: 0px 40px;
  }
  .toggle_cart ion-icon {
    margin-top: 15px;
    font-size: 28px;
  }
}
@media screen and (max-width: 500px) {
  .toggleDiv {
    width: 100%;
  }
  .main-container-lite {
    padding: 0;
  }
}
