<header class="main-header">
  <div class="container">
    <div class="header-content">
      <!-- <h1 routerLink="/" class="logo">
        <a>ITShop</a>
        
      </h1> -->
      <img
        routerLink="/"
        class="logo"
        src="../.././assets/itshop-high-resolution-logo-transparent.svg"
        alt=""
      />
      <div class="menu">
        <a routerLink="/">Home</a>
        <a routerLink="/full">Products</a>
        <a (click)="contactNav()">Contact</a>
      </div>
      <div class="search">
        <input
          #value
          (keyup.enter)="searchBar(value.value)"
          type="search"
          placeholder="Search..."
        />
        <ion-icon
          (click)="searchBar(value.value)"
          name="search-outline"
        ></ion-icon>
      </div>
      <a
        matBadgeSize="medium"
        [matBadge]="cartData"
        matBadgeColor="accent"
        routerLink="/cart"
        class="cart"
        ><ion-icon name="cart-outline"></ion-icon>
      </a>
      <a class="toggleIcon" (click)="toggleClass()"
        ><mat-icon>reorder</mat-icon>
      </a>
    </div>
    <div *ngIf="isClass" class="toggleDiv">
      <div class="toggle_menu">
        <a routerLink="/">Home</a>
        <a routerLink="/full">Products</a>
        <a routerLink="/cart">Contact</a>
      </div>
      <div class="toggle_search">
        <input
          #value
          (keyup.enter)="searchBar(value.value)"
          type="search"
          placeholder="Search..."
        />
        <ion-icon
          (click)="searchBar(value.value)"
          name="search-outline"
        ></ion-icon>
      </div>
      <a
        matBadgeSize="medium"
        [matBadge]="cartData"
        matBadgeColor="accent"
        routerLink="/cart"
        class="toggle_cart"
        ><ion-icon name="cart-outline"></ion-icon>
      </a>
    </div>
  </div>
</header>
