<header class="main-header">
  <div class="container">
    <div class="header-content">
      <h1 routerLink="/" class="logo">
        <a>Shop</a>
      </h1>
      <div class="menu">
        <a routerLink="/">Home</a>
        <a routerLink="/full">Products</a>
        <a routerLink="/cart">Contact</a>
      </div>
      <div class="search">
        <input
          #value
          (keyup.enter)="searchBar(value.value)"
          type="search"
          placeholder="Search..."
        />
        <ion-icon name="search-outline"></ion-icon>
      </div>
      <a routerLink="/cart" class="cart"
        ><ion-icon name="cart-outline"></ion-icon>
      </a>
      <a class="toggleIcon" (click)="toggleClass()"
        ><mat-icon>reorder</mat-icon>
      </a>
    </div>
    <div *ngIf="isClass" class="toggleDiv">
      <div class="toggle_menu">
        <a routerLink="/">Home</a>
        <a routerLink="/full">Products</a>
        <a routerLink="/cart">Contact</a>
      </div>
      <div class="toggle_search">
        <input
          #value
          (keyup.enter)="searchBar(value.value)"
          type="search"
          placeholder="Search..."
        />
        <ion-icon name="search-outline"></ion-icon>
      </div>
      <a routerLink="/cart" class="toggle_cart"
        ><ion-icon name="cart-outline"></ion-icon>
      </a>
    </div>
  </div>
</header>
