<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/full">Products</a></li>
          <li><a routerLink="/cart">Contact</a></li>
          <li><a>Admin panel</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a>FAQ</a></li>
          <li><a>shipping</a></li>
          <li><a>returns</a></li>
          <li><a>order status</a></li>
          <li><a>payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li
            (click)="navigateToFilters(index)"
            *ngFor="let value of searchBar; let index = index"
          >
            <a>{{ value }}</a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-instagram"></i></a>
          <a><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
