<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>name</mat-label>
    <input formControlName="name" matInput placeholder="Placeholder" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>desc</mat-label>
    <input formControlName="desc" matInput placeholder="Placeholder" />
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>Amount</mat-label>
    <input
      formControlName="price"
      matInput
      type="number"
      class="example-right-align"
      placeholder="0"
    />
    <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select (selectionChange)="onSelectionChange($event)">
      <mat-option value="Men's clothing">Men's clothing</mat-option>
      <mat-option value="Jewelery">Jewelery</mat-option>
      <mat-option value="Electronics">Electronics</mat-option>
      <mat-option value="Women's clothing">Women's clothing</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>image</mat-label>
    <input formControlName="image" matInput placeholder="Placeholder" />
  </mat-form-field>
  <div>
    <button
      (click)="SubmitProduct()"
      [disabled]="form.invalid"
      mat-flat-button
      color="primary"
    >
      Primary
    </button>
  </div>
</form>

<div class="rating">
  <input
    [(ngModel)]="selectedRating"
    name="rate"
    id="star5"
    type="radio"
    value="5"
    (change)="onRatingChange(5)"
  />
  <label title="text" for="star5"></label>
  <input
    [(ngModel)]="selectedRating"
    name="rate"
    id="star4"
    type="radio"
    value="4"
    (change)="onRatingChange(4)"
  />
  <label title="text" for="star4"></label>
  <input
    [(ngModel)]="selectedRating"
    name="rate"
    id="star3"
    type="radio"
    value="3"
    (change)="onRatingChange(3)"
  />
  <label title="text" for="star3"></label>
  <input
    [(ngModel)]="selectedRating"
    name="rate"
    id="star2"
    type="radio"
    value="2"
    (change)="onRatingChange(2)"
  />
  <label title="text" for="star2"></label>
  <input
    [(ngModel)]="selectedRating"
    name="rate"
    id="star1"
    type="radio"
    value="1"
    (change)="onRatingChange(1)"
  />
  <label title="text" for="star1"></label>
</div>
