<div class="container">
  <div class="product">
    <img [src]="productsData.image" alt="" />
    <div class="content">
      <div>
        <h1 class="titleThing" [innerHTML]="productsData.title | chunk"></h1>
        <p>{{ productsData.price | currency : "₾" }}</p>
      </div>
      <!-- <p>Show more</p> -->
      <ul>
        <li>
          <button (click)="openPop()">შეფასება</button>
          <button (click)="cartAdd()">{{ cartBoolean }}</button>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="popBool" class="pop">
    <div class="del">
      <h1>შეფასება</h1>
      <ion-icon (click)="closePop()" name="close-outline"></ion-icon>
    </div>
    <mat-divider></mat-divider>
    <h1>Rating</h1>
    <div class="rating">
      <input
        [(ngModel)]="selectedRating"
        name="rate"
        id="star5"
        type="radio"
        value="5"
        (change)="onRatingChange(5)"
      />
      <label title="text" for="star5"></label>
      <input
        [(ngModel)]="selectedRating"
        name="rate"
        id="star4"
        type="radio"
        value="4"
        (change)="onRatingChange(4)"
      />
      <label title="text" for="star4"></label>
      <input
        [(ngModel)]="selectedRating"
        name="rate"
        id="star3"
        type="radio"
        value="3"
        (change)="onRatingChange(3)"
      />
      <label title="text" for="star3"></label>
      <input
        [(ngModel)]="selectedRating"
        name="rate"
        id="star2"
        type="radio"
        value="2"
        (change)="onRatingChange(2)"
      />
      <label title="text" for="star2"></label>
      <input
        [(ngModel)]="selectedRating"
        name="rate"
        id="star1"
        type="radio"
        value="1"
        (change)="onRatingChange(1)"
      />
      <label title="text" for="star1"></label>
    </div>

    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input formControlName="name" matInput placeholder="name12345" />
        <mat-error *ngIf="fc.name.errors?.minlength"
          >name must contain at least 4 letters</mat-error
        >
        <mat-error *ngIf="fc.name.errors?.noSpace"
          >name must not contain spaces</mat-error
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field class="lite-form">
        <mat-label>Textarea</mat-label>
        <textarea
          formControlName="textarea"
          placeholder="Write description"
          matInput
        ></textarea>
        <mat-error *ngIf="fc.textarea.errors?.minlength"
          >text area must contain at least 10 letters</mat-error
        >
      </mat-form-field>
      <button
        [disabled]="form.invalid"
        (click)="SubmitForm()"
        type="submit"
        mat-flat-button
        color="primary"
      >
        შეფასება
      </button>
    </form>
    <mat-divider></mat-divider>
    <button (click)="closePop()" mat-flat-button color="warn">დახურვა</button>
  </div>

  <mat-tab-group class="tab" dynamicHeight>
    <mat-tab label="Details">
      <div class="example-small-box width_lite">
        {{ productsData.description }}
      </div>
    </mat-tab>
    <mat-tab label="Review">
      <div class="mat-class">
        <div
          *ngFor="let value of commentsData | keyvalue"
          class="example-large-box mat-lite"
        >
          <h1>{{ value.value.name }}</h1>
          <div class="rate">
            <span
              class="fa fa-star"
              *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
              [class.checked]="value.value.rate >= i + 1"
            ></span>
          </div>
          <p>{{ value.value.desc }}</p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
