<h1 class="h1_lite">{{ filterTag }}</h1>
<div class="container">
  <div class="container-lite">
    <div class="products-search">
      <div class="products">
        <div
          class="product-card"
          (click)="
            productClick(value.id, value.image, value.title, value.price)
          "
          *ngFor="let value of productData"
        >
          <a class="product-image">
            <img [src]="value.image" alt="product image" />
          </a>
          <div class="product-details">
            <a>
              <h5 class="product-title">{{ value.title }}</h5>
            </a>
            <div class="price-and-rating">
              <p class="product-price">{{ value.price | currency : "USD" }}</p>
              <div class="rating">
                <div class="rate">
                  <span
                    class="fa fa-star"
                    *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                    [class.checked]="value.rating.rate >= i + 1"
                  ></span>
                </div>

                <span class="rating-value">{{ value.rating.rate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
