/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}
*:focus {
  outline: none;
}
h1 {
  margin: 0;
}
h2 {
  cursor: pointer !important;
}
body {
  /* height: 4000px; */
  overflow: auto !important;
  position: static !important;
  height: 100% !important;
  background-color: beige;
}
body.swal2-height-auto {
  height: 100% !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
