body,
html {
  overflow: auto;
}
/* .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  order: 2;
}
.products img {
  width: 300px;
  height: 250px;
} */
.checked {
  color: orange;
}
.rate {
  display: flex;
  gap: 10px;
}
h1 {
  margin: 0;
}
.stick {
  position: sticky;
  top: 240px;
}
.main-container {
  display: flex;
  justify-content: center;
}
.main-container-lite {
  padding: 0px 25px;
  width: 1300px;
}
.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;

  background: #fafafa;
  cursor: pointer;
}
.products_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.products {
  order: 2;
}
.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
  color: #fbb72c;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}
.lite {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 23px;
}

.product-links a:hover {
  color: #fbb72c;
}
.product-details {
  margin: 20px 20px 0;
}

.product-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.price-and-rating {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
  gap: 15px;
  flex-direction: column-reverse;
}

.product-price {
  font-size: 24px;
  font-weight: 700;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.star {
  width: 20px;
  height: 20px;
  fill: #ffcc00;
}

.rating-value {
  font-size: 17px;
  font-weight: 600;
  margin-left: 5px;
  color: #333;
}

.add-to-cart-button {
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #555;
}
.search-bar li,
.aside-search p {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}
.product-search {
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 60px;
}
.search-bar {
  order: 1;
  position: relative;
}
.search-bar ul {
  display: flex;
  flex-direction: column;
}
.aside-search {
  margin-top: 50px;
  position: absolute;
  top: -50px;
  transform: translateX(223px);
  display: none;
}
.aside-search p {
  background-color: #ffff;
}
.search-bar ul > li:first-child:hover + .aside-search {
  display: block;
}
.filter {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
/* @media screen and (max-width: 1120px) {
  .products {
    grid-template-columns: repeat(2, 1fr);

    place-items: center;
  }
}
@media screen and (max-width: 700px) {
  .product-search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-bar {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .products {
    grid-template-columns: 1fr;
  }
} */
@media screen and (max-width: 1120px) {
  .product-search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-bar ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card {
    width: 350px;
  }
  .products_card {
    gap: 25px;
  }
}
@media screen and (max-width: 750px) {
  .products_card {
    grid-template-columns: 1fr;
  }
  .product-card {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .main-container-lite {
    padding: 0 !important;
  }
}
@media screen and (max-width: 450px) {
  .product-card {
    width: 100%;
  }
}
.ghost-main {
  grid-template-columns: repeat(2, 1fr);
}
.ghost-card {
  width: 380px;
}
