<div class="main-container">
  <div class="main-container-lite">
    <div class="product-search">
      <div class="products">
        <p *ngIf="noMatchingProducts">
          No products match the selected criteria.
        </p>
        <div class="products_card">
          <div
            (click)="productClick(value.id)"
            *ngFor="let value of productData"
            class="product-card"
          >
            <div class="product-tumb">
              <img [src]="value.image" alt="" />
            </div>
            <div class="product-details">
              <div class="lite">
                <span class="product-catagory">{{ value.category }}</span>
                <div class="rate">
                  <span
                    class="fa fa-star"
                    *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                    [class.checked]="value.rating.rate >= i + 1"
                  ></span>
                </div>
              </div>
              <h4>
                <a>{{ value.title | lineBreak }}</a>
              </h4>
              <p>
                {{ value.description | lineBreak }}
              </p>
              <div class="product-bottom-details">
                <div class="product-price">
                  {{ value.price | currency : "₾" }}
                </div>
                <div class="product-links">
                  <a><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--!  -->
      </div>
      <div class="search-bar">
        <div class="stick">
          <ul>
            <mat-checkbox
              color="warn"
              *ngFor="let value of searchBar; let i = index"
              class="example-margin"
              (change)="applyFilters(value)"
            >
              {{ value }}
            </mat-checkbox>
          </ul>

          <div class="aside-search">
            <p *ngFor="let value of asideSearchBar">
              {{ value }}
            </p>
          </div>
          <div class="filter">
            <mat-slider class="mat-slider" discrete min="0" max="599">
              <input [(ngModel)]="minPrice" value="0" matSliderStartThumb />
              <input [(ngModel)]="maxPrice" value="500" matSliderEndThumb />
            </mat-slider>
            <!-- <mat-slider
              (change)="changeNum()"
              min="0"
              max="20"
              discrete
              showTickMarks
            >
              <input [(ngModel)]="productNum" matSliderThumb />
            </mat-slider> -->

            <button (click)="filterProducts()" mat-flat-button color="primary">
              Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
