<div class="main-container">
  <div class="main-container-lite">
    <div class="slider">
      <div class="slider-content">
        <h1>
          კომპიუტერები, <br />
          ტანსაცმელები და სხვა
        </h1>
        <button routerLink="/full">
          სრულად ნახვა <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
    </div>
    <div class="product-search">
      <div class="products">
        <div
          (click)="productClick(value.id)"
          *ngFor="let value of productData"
          class="product-card"
        >
          <div class="product-tumb">
            <img [src]="value.image" alt="" />
          </div>
          <div class="product-details">
            <div class="lite">
              <span class="product-catagory">{{ value.category }}</span>
              <div class="rate">
                <span
                  class="fa fa-star"
                  *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                  [class.checked]="value.rating.rate >= i + 1"
                ></span>
              </div>
            </div>
            <h4>
              <a>{{ value.title | lineBreak }}</a>
            </h4>
            <p>
              {{ value.description | lineBreak }}
            </p>
            <div class="product-bottom-details">
              <div class="product-price">
                {{ value.price | currency : "₾" }}
              </div>
              <div class="product-links">
                <a><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-ad></app-ad>
  </div>
</div>
